.OrientationFilter {
  input[type=checkbox] {
    &:checked + label {
      color: #56c47a;
    }
  }

  .orientationCheckboxes {
    display: flex;
    justify-content: space-between;

    label {
      display: flex;
      flex-direction: column;
    }
  }

  .horizontalCheckbox {

    $checkbox-width: 45px;
    $checkbox-height: 30px;

    input[type=checkbox] {
      & + label {
        &:before {
          position: static;
          //margin: (-$checkbox-width/2) 0 0;
          width: $checkbox-width;
          height: $checkbox-height;
          background-image: url(images/orientation_horizontal.png);
          background-size: (2*$checkbox-width) $checkbox-height;
        }
      }

      // Checked
      &:checked + label{
        &:before{
          background-position: -$checkbox-width 0;
        }
      }
    }
  }

  .verticalCheckbox {

    $checkbox-width: 30px;
    $checkbox-height: 45px;

    input[type=checkbox] {
      & + label {

        // Checkbox setup
        &:before {
          position: static;
          //margin: (-$checkbox-width/2) 0 0;
          width: $checkbox-width;
          height: $checkbox-height;
          background-image: url(images/orientation_vertical.png);
          background-size: (2*$checkbox-width) $checkbox-height;
        }
      }

      // Checked
      &:checked + label{
        &:before{
          background-position: -$checkbox-width 0;
        }
      }
    }
  }
}

