.ProductsPanel {
  width: 1000px;
  display: flex;
  flex-direction: column;

  .leftLine {
    border-left: 1px solid #ebebeb;
  }

  .innerLeftLine {
      margin-left: 56px;
      margin-right: 56px;
    }
}