@import "./_FiltersPanel.scss";
@import "ProductsPanel";
@import "ProductsGrid";
@import "ProductCard";
@import "StarsRating";
@import "FavouriteButton";
@import "CheckboxInput";
@import "StarRadioInput";
@import "OrientationFilter";
@import "GridTypeSelector";

.RootView {
  display: flex;
  justify-content: center;
}
