.StarRadioInput {
  font-size: 1em;
  display: flex;
  justify-content: space-between;


  $radiobutton-width: 12px;

  input[type=radio]{
    position: absolute;
    left: -9999px;

    &+ label{
      position: relative;
      display: block;
      padding: 6px 9px 3px ($radiobutton-width + 9);
      cursor: pointer;

      // Checkbox setup
      &:before{
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        margin: (-$radiobutton-width/2) 0 0;
        width: $radiobutton-width;
        height: $radiobutton-width;
        background-image: url(images/radiobutton.png);
        background-repeat: no-repeat;
        background-size: 24px;
      }
    }

    // Checked
    &:checked + label{
      &:before{
        background-position: -$radiobutton-width 0;
      }
    }
  }
}
