@import "filters";
@import "productCards";
@import "productsHead";

body {
  font-family: "Myriad Pro Regular", sans-serif;
  font-size: 14px;
  color: #383838;
}

$checkbox-width: 12px;

input[type=checkbox]{
  position: absolute;
  left: -9999px;

  &+ label{
    position: relative;
    display: block;
    padding: 6px 9px 3px ($checkbox-width + 9);
    cursor: pointer;

    // Checkbox setup
    &:before{
      display: block;
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      margin: (-$checkbox-width/2) 0 0;
      width: $checkbox-width;
      height: $checkbox-width;
      background-image: url(images/checkbox.png);
      background-repeat: no-repeat;
      background-size: 24px;
    }
  }

  // Checked
  &:checked + label{
    &:before{
      background-position: -$checkbox-width 0;
    }
  }
}