.cardRatings {
  display: flex;
  justify-content: space-between;
}

.productName {
  font-family: "Myriad Pro Semibold", sans-serif;
  font-size: 18px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.productSize {
  font-family: "Myriad Pro Regular", sans-serif;
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 6px;
}